            <hr>
            
            <p>Here are some links that will get you to other places in my app sandbox
            (these are also present in the top navigation bar):</p>
        
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            
            <hr>
            
            <p>External links:</p>
            
            <li><a href="https://www.bradleypmartin.com">My personal homepage (bradleypmartin.com)</a></li>
            
            <hr>
        </div>

    </body>
</html>