<% include ../partials/header %>

        <div class="container">
            <h1>Welcome to the <strong>app selection</strong> page.</h1>
            
            <hr>
        
            <p>As a reward for 'signing up,' I'll share a photo of my cat Chocko 
            taken during another recent project.</p>

	    <p>The buttons below will link you to servers of
            web applications in progress. Thanks for visiting!</p>
            
            <a href = "http://ec2-18-191-19-157.us-east-2.compute.amazonaws.com/" class="btn-lg btn-success"
	    >Sandbox App 1</a>
            
            <hr>
            
            <div class="kitty">
                <img src="https://raw.githubusercontent.com/bradleypmartin/SandLandv2/master/views/kitty2.jpg" height=500px>
            </div>

<% include ../partials/footer %>