<% include ../partials/header %>

        <div class="container">
            <h1><strong>App Sandbox Home</strong></h1>
        
            <hr>
        
            <p>Welcome to Brad Martin's web application sandbox!
            If you'd like to hit the 'Register' link and make yourself a fun 
            username and password (that likely won't be too persistent!) you'll 
            be routed to the switchboard for different applications-in-progress.</p>
            
            <p>If you've already registered and remember your password, you can
            proceed directly to the <a href="/login">Login</a> page.</p>

<% include ../partials/footer %>