<% include ../partials/header %>

        <div class="container">
            <h1><strong>Home</strong></h1>
        
            <hr>
        
            <p><em>Welcome to Brad Martin's web application sandbox!
            There's currently not much to see here, but if you'd like to hit 
            the 'Register' link and make yourself a fun username and password 
            (that likely won't be too persistent!) this app will take you to a new, 
            'secret' page. That's it! :)</em></p>

<% include ../partials/footer %>