<h1>This is the auth_demo homepage.</h1>

<p><em>Note: there's not much to see here, but if you'd like to hit the 'register' link and make yourself a fun username and password (that likely won't be too persistent!) this app will take you to a new, 'secret' page. That's it! :)</em></p>

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>