<% include ../partials/header %>

<div class="container">
    <h1>This is the secret page!</h1>

    <p>You found me! Or, actually a photo of my cat Chocko taken during another recent project.</p>
    
    <img src="https://raw.githubusercontent.com/bradleypmartin/SandLandv2/master/views/kitty2.jpg">
    
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li> 
</div>

<% include ../partials/footer %>