<% include ../partials/header %>

        <div class="container">
            <h1>Welcome to the <strong>secret</strong> page!</h1>
            
            <hr>
        
            <p>As a reward for 'signing up,' I'll share a photo of my cat Chocko 
            taken during another recent project. This is all that's really going
            on with the sandbox right now, but look forward to updates and a
            'switchboard' to more interesting apps and functionality soon.</p>
            
            <hr>
            
            <img src="https://raw.githubusercontent.com/bradleypmartin/SandLandv2/master/views/kitty2.jpg" width=500px>

<% include ../partials/footer %>